.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
node_modules/
*.pdf
*.xlsx
app/templates/html2latex_tmp/*.html
app/templates/html2latex_tmp/*.tex
