<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Upload a Report to your account below.</p>
    <form method='post'>
      <p><input type='text', name='name[firstName]', placeholder='First Name'/></p>
      <p><input type='text', name='name[midInit]', placeholder='Middle Initial'/></p>
      <p><input type='text', name='name[lastName]', placeholder='Last Name'/></p>
      <p><input type='text', name='tenure[tenure]', placeholder='Tenure'/></p>
      <p><input type='submit', value='Upload'/></p>
    </form>
  </body>
</html>